<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Serkit_RT_I.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Serkit_RT_I.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <applicationSettings>
    <Serkit_RT_I.Properties.Settings>
      <setting name="GridWidth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GridHeight" serializeAs="String">
        <value>5</value>
      </setting>
    </Serkit_RT_I.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Serkit_RT_I.Properties.Settings>
      <setting name="PreviousWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PreviousHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PreviousLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviousTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviousMaximizedState" serializeAs="String">
        <value>True</value>
      </setting>
    </Serkit_RT_I.Properties.Settings>
  </userSettings>
</configuration>